<h1>good job you created a task</h1>
<br />
<br />
<br />

<h3><%= @task.title %> has been created </h3>
<br />
<p>
  <%= @task.description %>
</p>
<h5><%= @task.check_complete %></h5>


<p>
  <%= link_to("you can see all the tasks if you want!", index_path) %>
  <br />

  <%= render partial: "button_file", locals: {task_id: @task.id} %>
</p>
