<h1>good job you created a task</h1>
<br />
<br />
<br />

<h3>'<%= @task.title %>' has been created </h3>
<br />
<p>
  <%= @task.description %>
</p>
<h5><%= @task.check_complete %></h5>


<p>

  <%= render partial: "button_file", locals: {task_id: @task.id} %>

  <%= link_to("back to your task list", index_path) %>

</p>
