<h2>Tasks</h2>

<% counter = 1 %>
<h3>incomplete tasks</h3>

  <% @tasks.each do |task| %>
    <% if !task.complete? %>
      <p>
        <%= "#{counter}." %> <%=link_to(task.title, show_path(task.id))%>
        <%= render partial: "button_file", locals: {task_id: task.id} %>
      </p>
      <% counter += 1 %>
    <% end %>
    <br />
  <% end %>

  <% counter = 1 %>
  <h3>completed tasks</h3>

    <% @tasks.each do |task| %>
      <% if task.complete? %>
        <p>
          <%= "#{counter}." %> <%=link_to(task.title, show_path(task.id))%>
          <%= render partial: "button_file", locals: {task_id: task.id} %>
        </p>
        <% counter += 1 %>
      <% end %>
      <br />
    <% end %>


<!-- link_to( post[:title], show_path(post[:id]) ) -->

<!-- button_to(name = nil, options = nil, html_options = nil, &block) -->

<!-- ){action: 'delete', id: task[:id]} -->
