<h1>let's do some stuff! make a new task:</h1>


<%= form_for @task, url: create_path do |form| %>

  <%= form.label :title %>
  <br />
  <%= form.text_field :title %>

  <br />

  <%= form.label :description %>
  <br />
  <%= form.text_area :description, size: "30x30" %>

  <br />

  <%= form.label :complete %>
  <br />
  <%= form.check_box :complete %>

  <br />

  <%= form.submit %>

<% end  %>

<!-- <form name='new-task' action='create' method='post'>
  <input type='hidden' name='_method' value='put' />

  <label for='title'>Title:</label>
  <input type='text' name='title' />

  <label for='description'>Description:</label>
  <textarea name='description' rows='8' cols='40'>
  </textarea>


  <input type='checkbox' name='complete'>
  <label for='complete'>Complete?</label>

  <%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s,   :value => form_authenticity_token) %>
  <button type='submit'>Save</button>

</form> -->
